@import '../../fonts.scss';

.TextoInicial{
  margin: 0 auto;
  padding-top: 2rem;
  font-size: 3.2rem;
  color: white;
  text-align: center;
  font-family: 'EB Garamond', serif;
  width: 50rem;
  line-height: 140%;
}