@import '../../fonts.scss';

.TextoInicial{
  margin: 0 auto;
  padding-top: 1rem;
  font-size: 4rem;
  text-transform: uppercase;
  color: #358afa;
  text-align: center;
  font-family: 'EB Garamond', serif;
  width: 50rem;
  line-height: 140%;
  place-self: center;
  letter-spacing: .3rem;
  word-spacing: .5rem;
}